* {
  color: white;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(40, 40, 40);
}
body > * {
  width: 30%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
input,
button {
  color: black;
}
input {
  display: block;
  margin-bottom: 10px;
  background-color: rgb(218, 218, 218);
}
button {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}
